<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <center>
        <h1>Railway Reservation System</h1><br><br><br>
        <div class="container">
            <a class="btn btn-success" href="trains">Train Details</a><br><br>
            <a class="btn btn-primary" href="login">Login/Signup</a>
        </div>
    </center>
    
</body>
</html>