<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>
    </nav>
    <center>
      {% if messages %} 
            {% for message in messages %}
            <center>
                <!-- <div class="alert {% if message.tags %} alert-{{message.tags}}{% endif %}" role="alert"> -->
                <div class="alert alert-primary" role="alert">
                    <b><i>{{ message }}</i></b>
                </div>
            </center>
           
            {% endfor %}
        {% endif %}
          <div class="container">
              <h2>SignUp</h2><br><br>
            <form method="POST">
                    {% csrf_token %}
                <div class="form-group">
                  <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <br><br>
                    <label for="uname">UserName:</label>
                    <input type="text" id="uname" name="uname" required>
                    <br><br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <br><br>
                    <label for="pass">Password:</label>
                    <input type="password" id="pass" name="pass" required>
                    <br><br>
                    <label for="phn">Phone:</label>
                    <input type="text" id="phn" name="phn" required>
                    <br><br>
                    <input class="btn btn-success" type="submit" value="SignUp">
                    <br><br>
                    
                </div>
            </form>
          </div>
    </center>
  </body>
</html>
